USE [master]
GO
/****** Object:  Database [RmaDB]    Script Date: 10/29/2025 5:00:18 PM ******/
CREATE DATABASE [RmaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RmaDB', FILENAME = N'C:\Users\Kevin\RmaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RmaDB_log', FILENAME = N'C:\Users\Kevin\RmaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RmaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RmaDB]
GO
/****** Object:  UserDefinedTableType [dbo].[RmaItemType]    Script Date: 10/29/2025 5:00:18 PM ******/
CREATE TYPE [dbo].[RmaItemType] AS TABLE(
	[product_id] [int] NOT NULL,
	[qty] [int] NOT NULL,
	[reason_code] [nvarchar](40) NULL,
	CHECK (([qty]>(0)))
)
GO
/****** Object:  Table [dbo].[rma_headers]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rma_headers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rma_number] [nvarchar](30) NOT NULL,
	[customer_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[opened_at] [datetime2](7) NOT NULL,
	[notes] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_RmaAging]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_RmaAging] AS
SELECT
  h.id,
  h.rma_number,
  h.customer_id,
  h.status,
  h.opened_at,
  DATEDIFF(DAY, h.opened_at, SYSUTCDATETIME()) AS age_days
FROM dbo.rma_headers h;
GO
/****** Object:  Table [dbo].[customers]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](120) NOT NULL,
	[contact_email] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sku] [nvarchar](50) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rma_items]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rma_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rma_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[qty] [int] NOT NULL,
	[reason_code] [nvarchar](40) NULL,
	[resolution] [nvarchar](40) NULL,
	[closed_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([id], [name], [contact_email]) VALUES (1, N'KP Technologies', N'kp@kp.io')
INSERT [dbo].[customers] ([id], [name], [contact_email]) VALUES (2, N'AS Staffing Co.', N'as@asstaffing.com')
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [sku], [name]) VALUES (1, N'SKU-100', N'Widget A')
INSERT [dbo].[products] ([id], [sku], [name]) VALUES (2, N'SKU-200', N'Widget B')
INSERT [dbo].[products] ([id], [sku], [name]) VALUES (3, N'P100', N'Gaming Mouse')
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[rma_headers] ON 

INSERT [dbo].[rma_headers] ([id], [rma_number], [customer_id], [status], [opened_at], [notes]) VALUES (88, N'RMA-1001', 2, N'open', CAST(N'2025-10-28T14:40:19.6017782' AS DateTime2), N'Demo RMA (seeded) — Box damaged; cosmetic scuffs.')
INSERT [dbo].[rma_headers] ([id], [rma_number], [customer_id], [status], [opened_at], [notes]) VALUES (89, N'RMA-1002', 1, N'pending', CAST(N'2025-10-27T14:40:19.6091748' AS DateTime2), N'Demo RMA (seeded) — Box damaged; cosmetic scuffs.')
INSERT [dbo].[rma_headers] ([id], [rma_number], [customer_id], [status], [opened_at], [notes]) VALUES (90, N'RMA-1003', 2, N'closed', CAST(N'2025-10-26T14:40:19.6091748' AS DateTime2), N'Demo RMA (seeded) — Customer requested exchange within 30 days.')
SET IDENTITY_INSERT [dbo].[rma_headers] OFF
GO
SET IDENTITY_INSERT [dbo].[rma_items] ON 

INSERT [dbo].[rma_items] ([id], [rma_id], [product_id], [qty], [reason_code], [resolution], [closed_at]) VALUES (88, 88, 1, 2, N'missing parts', NULL, NULL)
INSERT [dbo].[rma_items] ([id], [rma_id], [product_id], [qty], [reason_code], [resolution], [closed_at]) VALUES (89, 88, 2, 2, N'arrived damaged', NULL, NULL)
INSERT [dbo].[rma_items] ([id], [rma_id], [product_id], [qty], [reason_code], [resolution], [closed_at]) VALUES (90, 89, 2, 2, N'wrong item', NULL, NULL)
SET IDENTITY_INSERT [dbo].[rma_items] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__DDDF4BE7A647437E]    Script Date: 10/29/2025 5:00:18 PM ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__rma_head__C53F9E4683066B95]    Script Date: 10/29/2025 5:00:18 PM ******/
ALTER TABLE [dbo].[rma_headers] ADD UNIQUE NONCLUSTERED 
(
	[rma_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_rma_headers_opened_at]    Script Date: 10/29/2025 5:00:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_rma_headers_opened_at] ON [dbo].[rma_headers]
(
	[opened_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_rma_headers_status_opened_at]    Script Date: 10/29/2025 5:00:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_rma_headers_status_opened_at] ON [dbo].[rma_headers]
(
	[status] ASC,
	[opened_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_rma_items_rma_id]    Script Date: 10/29/2025 5:00:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_rma_items_rma_id] ON [dbo].[rma_items]
(
	[rma_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[rma_headers] ADD  DEFAULT (sysutcdatetime()) FOR [opened_at]
GO
ALTER TABLE [dbo].[rma_headers]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([id])
GO
ALTER TABLE [dbo].[rma_items]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[rma_items]  WITH CHECK ADD FOREIGN KEY([rma_id])
REFERENCES [dbo].[rma_headers] ([id])
GO
ALTER TABLE [dbo].[rma_items]  WITH CHECK ADD CHECK  (([qty]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_CloseRma]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CloseRma]
  @rmaId INT
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    BEGIN TRAN;

    -- Set header to closed
    UPDATE dbo.rma_headers
    SET status = 'closed'
    WHERE id = @rmaId;

    -- Finalize any items missing a closed_at timestamp
    UPDATE dbo.rma_items
    SET closed_at = COALESCE(closed_at, SYSUTCDATETIME())
    WHERE rma_id = @rmaId;

    COMMIT TRAN;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRAN;
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateRma]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CreateRma]
  @rma_number NVARCHAR(30),
  @customer_id INT,
  @notes NVARCHAR(1000) = NULL,
  @items dbo.RmaItemType READONLY
AS
BEGIN
  SET NOCOUNT ON;
  SET XACT_ABORT ON;

  -- Uniqueness guard: RMA numbers must be unique (business rule)
  IF EXISTS (SELECT 1 FROM dbo.rma_headers WHERE rma_number = @rma_number)
  BEGIN
    RAISERROR('RMA number already exists.', 16, 1);
    RETURN;
  END

  -- FK guard: customer must exist
  IF NOT EXISTS (SELECT 1 FROM dbo.customers WHERE id = @customer_id)
  BEGIN
    RAISERROR('Customer does not exist.', 16, 1);
    RETURN;
  END

  BEGIN TRAN;

  DECLARE @newId INT;

  -- Insert header; default status is 'open'
  INSERT INTO dbo.rma_headers (rma_number, customer_id, status, notes)
  VALUES (@rma_number, @customer_id, 'open', @notes);

  SET @newId = SCOPE_IDENTITY();

  -- Validate all product_ids in the passed @items TVP exist in products
  IF EXISTS (
    SELECT 1
    FROM @items AS it
    LEFT JOIN dbo.products AS p ON p.id = it.product_id
    WHERE p.id IS NULL
  )
  BEGIN
    ROLLBACK TRAN;
    RAISERROR('One or more product_id values do not exist.', 16, 1);
    RETURN;
  END

  -- Insert all items linked to the new header
  INSERT INTO dbo.rma_items (rma_id, product_id, qty, reason_code)
  SELECT @newId, it.product_id, it.qty, it.reason_code
  FROM @items AS it;

  COMMIT TRAN;

  -- Return the new header id so the app can redirect to detail view
  SELECT @newId AS rma_id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteRma]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_DeleteRma]
  @rmaId INT
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    BEGIN TRAN;

    DELETE FROM dbo.rma_items WHERE rma_id = @rmaId;
    DELETE FROM dbo.rma_headers WHERE id = @rmaId;

    COMMIT TRAN;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRAN;
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetRmaDetail]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_GetRmaDetail]
  @rmaId INT
AS
BEGIN
  SET NOCOUNT ON;

  -- 1) Header (one row)
  SELECT
    h.id,
    h.rma_number,
    h.customer_id,
    c.name AS customer_name,
    h.status,
    h.opened_at,
    h.notes
  FROM dbo.rma_headers AS h
  JOIN dbo.customers     AS c ON c.id = h.customer_id
  WHERE h.id = @rmaId;

  -- 2) Items (0..many rows)
  SELECT
    i.id,
    i.product_id,
    p.sku,
    p.name AS product_name,
    i.qty,
    i.reason_code,
    i.resolution,
    i.closed_at
  FROM dbo.rma_items   AS i
  JOIN dbo.products    AS p ON p.id = i.product_id
  WHERE i.rma_id = @rmaId
  ORDER BY i.id ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_OpenRmasByAging]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_OpenRmasByAging]
  @minDays INT = 0,               -- only return RMAs older than this
  @maxDays INT = 9999,            -- ceiling filter (rarely needed but safe)
  @status  NVARCHAR(20) = NULL,   -- filter by status if provided
  @top     INT = 10               -- limit to top X rows
AS
BEGIN
  SET NOCOUNT ON;

  ;WITH A AS (
    SELECT 
      h.id,
      h.rma_number,
      h.customer_id,
      h.status,
      h.opened_at,
      DATEDIFF(DAY, h.opened_at, SYSUTCDATETIME()) AS age_days
    FROM dbo.rma_headers h
    WHERE (@status IS NULL OR h.status = @status)  
    -- Explanation: If @status is NULL, this condition always passes.
    -- If @status has a value, filter only to that.
  )
  SELECT TOP (@top)
         A.id,
         A.rma_number,
         A.customer_id,
         A.status,
         A.opened_at,
         A.age_days,
         c.name AS customer_name   -- join to lookup customer name
  FROM A
  JOIN dbo.customers c ON c.id = A.customer_id
  WHERE A.age_days BETWEEN @minDays AND @maxDays
  ORDER BY A.age_days DESC, A.opened_at ASC;  -- oldest cases first
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RmaKpis]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_RmaKpis]
  @startDate DATETIME2,
  @endDate   DATETIME2
AS
BEGIN
  SET NOCOUNT ON;

  -- #1 Open RMAs right now (status not closed)
  DECLARE @OpenCount INT =
    (SELECT COUNT(*) FROM dbo.rma_headers WHERE status <> 'closed');

  -- #2 Closed in the window (using header's opened_at window for simplicity)
  DECLARE @ClosedCount INT =
    (SELECT COUNT(*)
     FROM dbo.rma_headers
     WHERE status = 'closed'
       AND opened_at BETWEEN @startDate AND @endDate);

  -- #3 Average resolution days for RMAs that are closed and opened within the window
  ;WITH PerRma AS (
    SELECT
      h.id,
      -- We define "resolution date" as the earliest (MIN) item.closed_at for that RMA.
      -- If somehow an item doesn't have closed_at, COALESCE(...) guards against NULLs.
      DATEDIFF(
        DAY,
        h.opened_at,
        COALESCE(MIN(i.closed_at), SYSUTCDATETIME())
      ) AS resolution_days
    FROM dbo.rma_headers h
    LEFT JOIN dbo.rma_items i ON i.rma_id = h.id
    WHERE h.status = 'closed'
      AND h.opened_at BETWEEN @startDate AND @endDate
    GROUP BY h.id, h.opened_at
  )
  SELECT
    @OpenCount        AS OpenCount,
    @ClosedCount      AS ClosedCount,
    AVG(CAST(resolution_days AS DECIMAL(10,2))) AS AvgResolutionDays
  FROM PerRma;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRmaItemResolution]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateRmaItemResolution]
  @itemId    INT,
  @resolution NVARCHAR(40) = NULL,  -- e.g. refund|replace|repair|deny; NULL to clear
  @closeNow   BIT = 0               -- if 1, stamp closed_at if missing
AS
BEGIN
  SET NOCOUNT ON;
  BEGIN TRY
    BEGIN TRAN;

    UPDATE dbo.rma_items
    SET
      resolution = @resolution,
      closed_at = CASE
                    WHEN @closeNow = 1 THEN COALESCE(closed_at, SYSUTCDATETIME())
                    ELSE closed_at
                  END
    WHERE id = @itemId;

    COMMIT TRAN;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK TRAN;
    THROW;
  END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRmaStatus]    Script Date: 10/29/2025 5:00:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_UpdateRmaStatus]
  @rmaId  INT,
  @status NVARCHAR(20)
AS
BEGIN
  SET NOCOUNT ON;

  -- Only allow open/pending here; closing is done via sp_CloseRma
  IF @status NOT IN ('open', 'pending')
  BEGIN
    THROW 50001, 'Only ''open'' or ''pending'' are allowed in sp_UpdateRmaStatus. Use sp_CloseRma to close.', 1;
  END

  UPDATE dbo.rma_headers
  SET status = @status
  WHERE id = @rmaId;
END
GO
USE [master]
GO
